# Import Library dan Baca File Inputan

## **TUGAS PEMROGRAMAN 3 - K-Nearest Neighbor**
### **Rekomendasi Mobil**

Oleh Kelompok 3 IF-43-11:
1. Faiz Rofi Hencya - 1301190230
2. Muhammad Avtara Khrisna -	1301194094
3. Muhammad Ali Fikri - 1301190157

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('https://github.com/Hencya/KKN/blob/61a22f64b3abc2cab1a40fa8964bc044c3a71f08/mobil.xls?raw=true')

In [ ]:
df

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

# Pra-Pemrosesan Data

In [ ]:
df.describe()

          Ukuran  Kenyamanan       Irit  Kecepatan  Harga (Ratus Juta)
count  17.000000   17.000000  17.000000  17.000000           17.000000
mean    6.529412    6.352941   6.941176   6.823529            3.247059
std     2.034627    2.234423   1.784327   1.131111            2.406597
min     3.000000    3.000000   4.000000   5.000000            0.800000
25%     5.000000    4.000000   6.000000   6.000000            1.750000
50%     7.000000    7.000000   7.000000   7.000000            2.300000
75%     8.000000    8.000000   9.000000   8.000000            5.000000
max    10.000000   10.000000  10.000000   9.000000           10.000000

In [ ]:
df.isnull().sum()

Nama Mobil            0
Ukuran                0
Kenyamanan            0
Irit                  0
Kecepatan             0
Harga (Ratus Juta)    0
dtype: int64

Pengecekana apakah data terdapat null atau tidak. Dan hasilnya tidak ada null.

In [ ]:
new_df = df.drop(columns=['Nama Mobil'])

In [ ]:
new_df

    Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0        4           4     9          6                1.00
1        4           3     9          6                1.10
2        6           5     6          6                2.00
3        6           4     6          6                1.75
4        7           7     6          7                2.25
5        7           7     6          7                2.10
6        3           4    10          5                1.20
7        8           8     5          7                4.00
8        9          10     4          8               10.00
9        5           7     9          8                2.50
10       5           8     7          8                2.70
11      10           5     8          6                5.00
12       9           8     5          8                5.00
13       9           9     5          7                5.50
14       5           9     7          9                6.00
15       7           7     7          7                2.30
16       7           3     9          5                0.80

assign sebuah variable baru yang dimana tidak berisi column Nama Mobil

# Perhitungan Ukuran Jarak

In [ ]:
def euclidean(x, y):
    res = 0
    for i in range(len(y)):
        res += (x[i] - y[i])**2

    return res ** (1/2)

In [ ]:
def manhattan(x, y):
    res = 0
    for i in range(len(x)):
        res += abs(x[i] - y[i])

    return res

In [ ]:
def minkowski(x, y, p=5):
    res = 0
    for i in range(len(x)):
        res += abs(x[i] - y[i]) ** p

    return res ** (1/p)

In [ ]:
def supremum(x, y):
    res = []
    for i in range(len(x)):
        res.append(abs(x[i] - y[i]))

    return max(res)

In [ ]:
def knn(x,y,k=3):
    eucli,manhat,minkow,suprem = [],[],[],[]

    
    for i in range(len(x)):
        eucli.append([euclidean(x.iloc[i].tolist(), y),df['Nama Mobil'][i]])
        manhat.append([manhattan(x.iloc[i].tolist(), y),df['Nama Mobil'][i]])
        minkow.append([minkowski(x.iloc[i].tolist(), y),df['Nama Mobil'][i]])
        suprem.append([supremum(x.iloc[i].tolist(), y),df['Nama Mobil'][i]])
    
    eucli_sort = sorted(eucli)[:k]
    manhat_sort = sorted(manhat)[:k]
    minkow_sort = sorted(minkow)[:k]
    suprem_sort = sorted(suprem)[:k]
    
    output = [['Euclidean',eucli_sort],['Manhattan',manhat_sort],['Minkowski',minkow_sort],['Supremum',suprem_sort]]


    return output

In [ ]:
def final(luaran):
    print('================ Hasil Akhir ================\n')
    for x in luaran:
        print('Metode :',x[0])
        for y in x[1]:
            print(y[1],'dengan distance :',round(y[0],2))
        print('\n')

In [ ]:
def ke_excel(luaran):
    eucl = output[0][1]
    manh = output[1][1]
    mink = output[2][1]
    supr = output[3][1]
    df_eucl = pd.DataFrame(eucl)
    df_manh = pd.DataFrame(manh)
    df_mink = pd.DataFrame(mink)
    df_supr = pd.DataFrame(supr)

    return df_eucl[1],df_manh[1],df_mink[1],df_supr[1]

# Main Program

# New Section

In [ ]:
# Versi Manual Input
ukuran = int(input("Masukkan Ukuran\t: "))
kenyamanan = int(input("Masukkan Kenyamanan\t: "))
irit = int(input("Masukkan Irit\t: "))
kecepatan = int(input("Masukkan Kecepatan\t: "))
harga = float(input("Masukkan Harga\t: "))
masukan = [ukuran,kenyamanan,irit,kecepatan,harga]
output = knn(new_df, masukan)

final(output)

# Output dari metode Minkowski 
out_excel = ke_excel(output)[2]
out_excel.to_excel('Rekomendasi.xlsx', header=False, index=False)

Masukkan Ukuran	: 4
Masukkan Kenyamanan	: 5
Masukkan Irit	: 4
Masukkan Kecepatan	: 6
Masukkan Harga	: 4
================ Hasil Akhir ================

Metode : Euclidean
Toyota Avanza dengan distance : 3.46
Daihatsu Xenia dengan distance : 3.75
Xpander dengan distance : 4.59


Metode : Manhattan
Toyota Avanza dengan distance : 6.0
Daihatsu Xenia dengan distance : 7.25
Toyota Agya dengan distance : 9.0


Metode : Minkowski
Toyota Avanza dengan distance : 2.49
Daihatsu Xenia dengan distance : 2.62
Xpander dengan distance : 3.18


Metode : Supremum
Toyota Avanza dengan distance : 2.0
Daihatsu Xenia dengan distance : 2.25
Honda City dengan distance : 3.0